@page "/"
@using motinfoapp.Models
@using motinfoapp.Services.Interfaces

<link href="https://fonts.cdnfonts.com/css/uk-number-plate" rel="stylesheet">


<PageTitle>Mot Info</PageTitle>

<div class="header">
    <h1>MOT Details App</h1>
</div>

<form @onsubmit="SubmitForm">
    <input id="registrationInput" class="uk-number-plate" @bind="_vehicleRegistration" autocomplete="off" placeholder="ENTER REG"/>
    <div class="input-buttons">
        <button class="btn btn-danger clear-button" @onclick="ReloadPage">Clear Details</button>
        <button type="submit" class="btn btn-primary search-button" disabled="@string.IsNullOrEmpty(_vehicleRegistration)">Check MOT Details</button>
    </div>
</form>

<div class="vehicle-details-display">
    <dl class="vehicle-details-list">
        <dt>Registration</dt>
        <dd>@(_vehicleData?.registration ?? "N/A")</dd>
        <dt>Make</dt>
        <dd>@(_vehicleData?.make ?? "N/A")</dd>
        <dt>Model</dt>
        <dd>@(_vehicleData?.model ?? "N/A")</dd>
        <dt>Colour</dt>
        <dd>@(_vehicleData?.colour ?? "N/A")</dd>
        <dt>MOT Expiry Date</dt>
        <dd>@(_vehicleData?.motExpiry.Date.ToString("dd/MM/yyyy") ?? "N/A")</dd>
        <dt>Mileage at last MOT</dt>
        <dd>@(_vehicleData?.mileageLastMot.ToString() ?? "N/A")</dd>
    </dl>
</div>


@if (_errorMessage != null)
{
    <div class="alert alert-danger mot-warning" role="alert">
        @_errorMessage
    </div>
}

@code {
    private string? _vehicleRegistration;
    private VehicleInfoViewModel? _vehicleData;
    private string? _errorMessage;

    [Inject] private IVehicleInfoService _VehicleInfoService { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }

    private async Task SubmitForm()
    {
        _errorMessage = null;
        string spacelessRegistration = _vehicleRegistration.Replace(" ", "");
        
        _vehicleData = await _VehicleInfoService.GetVehicleInfo(spacelessRegistration);
        
        if (IsMotOverdue())
        {
            _errorMessage = "Warning: Your MOT is overdue.";
        }
    }

    private bool IsMotOverdue()
    {
        return _vehicleData.motExpiry < DateTime.Today;
    }

    private void ReloadPage()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

}